
{% extends 'layout/base.html' %}

{% load static %}


{% block main %}


{% include 'layout/wrapper.html' %}
<!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title">Devenir participant</h2>
        <div class="row stat-cards">
        </div>  
        <form method="post" class="form">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-success">Enregister</button>
          </form> 
    </main>


    
  

    {% endblock %}