
{% extends 'layout/base.html' %}

{% load static %}


{% block main %}

{% include 'layout/wrapper.html' %}
<!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title">Listes des tontines</h2>
        <div class="row stat-cards">
        </div>  
    </main>
    <div class="table">
    <div class="users-table table-wrapper p-2">
      <table class="posts-table">
        <thead>
            <tr class="users-table-info">
                <th>ID</th>
                <th>Nom de tontine</th>
                <th>Status</th>
                <th>Date de debut</th>
                <th>Nombre participants</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for tontine in tontines %}
            <tr>
                <td>{{ tontine.id }}</td>
                <td>{{ tontine.nom_tontine }}</td>
                <td><i class="fa fa-lock"></i></td>
                <td>{{ tontine.date_debut }}</td>
                <td>{{ tontine.participant_count }}</td>
                <td class="py-2">
                    <i class="fa fa-eye m-2"></i>
                    <a href="{% url 'tontine_edit' tontine.id %}"><i class="fa fa-edit m-2"></i></a>
                    <a href="#" data-toggle="modal" data-target="#confirmDeleteModal{{ tontine.id }}">
                      <i class="fa text-danger fa-trash m-2"></i>
                    </a>                
                </td>
            </tr>
            {% empty %}
            <tr>
            <td><p>No data</p></td>
          </tr>
            {% endfor %}

        </tbody>
    </table>
    
    </div>
  
</div>


{% endblock %}