  {% load static %}
  <!-- ! Footer -->
  <footer class="footer">
    <div class="container footer--flex">
      <div class="footer-start">
        <p>2024 © E-Tontine Dashboard - <a href="" target="_blank"
            rel="noopener noreferrer">e-tontine</a></p>
      </div>
      <ul class="footer-end">
        <li><a href="##">Documentation du système</a></li>
        <li><a href="##">Centre d'aide</a></li>
        <li><a href="##">Support technique</a></li>
      </ul>
    </div>
  </footer>
    </div>
  </div>
  <!-- Chart library -->
  <script src="{% static './plugins/chart.min.js' %}"></script>
  <!-- Icons library -->
  <script src="{% static 'plugins/feather.min.js' %}"></script>
  <!-- Custom scripts -->
  <script src="{% static 'js/script.js' %}"></script>
  </body>
  
  </html>